body{
    text-align: center;

}
.demo{
    margin: auto;
    margin-top: 50px;
    width: 400px;
    display: ;
    flex-direction: column;
    background-color: black;
    text-align: center;
    padding: 5px;
}
.img{
    margin: ;
}


